table, td ,tr{
    border:1px solid black;
    border-collapse: collapse;
    font-size: 30px;
    left: 30px;
}
body{
    text-align: center;
}
th{
    border:1px solid black;
}
.domingo{
    background-color: rgb(190, 88, 88);
}